<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask all questions</title>
</head>
<body>
    <h1>All You Questions can be asnwered!</h1>
</body>
</html>